# Toronto - Task 1

Import all necessary libaries

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML and XML documents

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print("Libraries imported.")

Libraries imported.

Get Data from Wikipedia

In [2]:
# send the GET request
data = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [3]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(data, 'html.parser')

In [4]:
# create three lists to store table data
postalCodeList = []
boroughList = []
neighborhoodList = []

In [5]:
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        postalCodeList.append(cells[0].text)
        boroughList.append(cells[1].text)
        neighborhoodList.append(cells[2].text.rstrip('\n')) # avoid new lines in neighborhood cell

In [6]:
# create a new DataFrame from the three lists
toronto_df = pd.DataFrame({"PostalCode": postalCodeList,
                           "Borough": boroughList,
                           "Neighborhood": neighborhoodList})

toronto_df.head()

  PostalCode             Borough                Neighborhood
0      M1A\n      Not assigned\n
1      M2A\n      Not assigned\n
2      M3A\n        North York\n                   Parkwoods
3      M4A\n        North York\n            Victoria Village
4      M5A\n  Downtown Toronto\n  Regent Park / Harbourfront

Drop Values that are N/A

In [11]:
# drop cells with a borough that is Not assigned
toronto_df_dropna = toronto_df[toronto_df.Borough != "Not assigned\n"].reset_index(drop=True)
toronto_df_dropna.head(10)

  PostalCode             Borough                                  Neighborhood
0      M3A\n        North York\n                                     Parkwoods
1      M4A\n        North York\n                              Victoria Village
2      M5A\n  Downtown Toronto\n                    Regent Park / Harbourfront
3      M6A\n        North York\n             Lawrence Manor / Lawrence Heights
4      M7A\n  Downtown Toronto\n  Queen's Park / Ontario Provincial Government
5      M9A\n         Etobicoke\n                              Islington Avenue
6      M1B\n       Scarborough\n                               Malvern / Rouge
7      M3B\n        North York\n                                     Don Mills
8      M4B\n         East York\n              Parkview Hill / Woodbine Gardens
9      M5B\n  Downtown Toronto\n                      Garden District, Ryerson

Group Data

In [12]:
# group neighborhoods in the same borough
toronto_df_grouped = toronto_df_dropna.groupby(["PostalCode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
toronto_df_grouped.head(10)

  PostalCode        Borough                                       Neighborhood
0      M1B\n  Scarborough\n                                    Malvern / Rouge
1      M1C\n  Scarborough\n           Rouge Hill / Port Union / Highland Creek
2      M1E\n  Scarborough\n                Guildwood / Morningside / West Hill
3      M1G\n  Scarborough\n                                             Woburn
4      M1H\n  Scarborough\n                                          Cedarbrae
5      M1J\n  Scarborough\n                                Scarborough Village
6      M1K\n  Scarborough\n      Kennedy Park / Ionview / East Birchmount Park
7      M1L\n  Scarborough\n                  Golden Mile / Clairlea / Oakridge
8      M1M\n  Scarborough\n  Cliffside / Cliffcrest / Scarborough Village West
9      M1N\n  Scarborough\n                       Birch Cliff / Cliffside West

In [13]:
# for Neighborhood="Not assigned", make the value the same as Borough
for index, row in toronto_df_grouped.iterrows():
    if row["Neighborhood"] == "Not assigned\n":
        row["Neighborhood"] = row["Borough"]
        
toronto_df_grouped.head()

  PostalCode        Borough                              Neighborhood
0      M1B\n  Scarborough\n                           Malvern / Rouge
1      M1C\n  Scarborough\n  Rouge Hill / Port Union / Highland Creek
2      M1E\n  Scarborough\n       Guildwood / Morningside / West Hill
3      M1G\n  Scarborough\n                                    Woburn
4      M1H\n  Scarborough\n                                 Cedarbrae

Create a new DF

In [14]:
# create a new test dataframe
column_names = ["PostalCode", "Borough", "Neighborhood"]
test_df = pd.DataFrame(columns=column_names)

test_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in test_list:
    test_df = test_df.append(toronto_df_grouped[toronto_df_grouped["PostalCode"]==postcode], ignore_index=True)
    
test_df

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [15]:
# print the number of rows of the cleaned dataframe
toronto_df_grouped.shape

(103, 3)